<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
</head>
    
<body>
	<h1>Deletion of all previous entries</h1>
    
    
    <br>
    All pokemon name entries have been removed from the database. Number of pokemon removed: <%- numberRemoved %>
    
    <hr>
    <a href="/"><u>HOME</u></a>
</body>

</html>