<!doctype html>
<html lang="en">
    
<head>
	<meta charset="utf-8" />
	<title>Pokemon</title>
</head>
    
<body>
    <h1 style="color:red;">Pokemon</h1>

    <h2>Pokemon Abilities</h2>
    <ul>
        <li>To request a Pokemon's abilities click <a href="/pokemon"><em>here</em></a></li>
    </ul>
    <hr>
    <h2>Pokemon Entries</h2>
    <ul>
        <li>To look at a table of pokemon that have been viewed click <a href="/pokemonTable"><em>here</em></a></li>
    </ul>
    
</body>

</html>